:root {
	box-sizing: border-box;

	width: 100%;
	height: 100%;

	font-family: sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.body {
	display: flex;
	width: 100%;
	height: 100%;

	background-color: #eaeaea;
}

.main {
	flex: 1 0 auto;

	display: flex;
	margin: auto;
	max-width: 80vw;
	max-height: 85vh;

	flex-flow: column nowrap;

	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.header {
	flex: 0 0 52px;

	outline: none;
	padding: 16px;

	font-size: 20px;
	font-weight: 500;
	line-height: 1;
}

.footer {
	flex: 0 0 52px;

	padding: 8px;
}

.list {
	display: block;
	padding: 8px 0 40px;
	width: 100%;
	overflow: auto;

	border-top: 1px solid rgba(0, 0, 0, 0.12);
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	list-style: none;
}

.list__row {
	display: flex;
	padding: 8px;
	height: 48px;
	align-items: center;
}

.todo__checkbox {
	flex: 0 0 32px;

	margin: 8px;
}

.todo__value {
	flex: 1 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.todo__remove {
	flex: 0 0 32px;

	margin: 0 8px;
	visibility: hidden;
}

.todo:hover .todo__remove {
	visibility: visible;
}

.button {
    position: relative;
    vertical-align: middle;

    display: inline-block;
    overflow: hidden;
    padding: 0 16px;
    height: 36px;
    min-width: 64px;

	background: 0 0;
    border: none;
    border-radius: 2px;

    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ff4081;

    outline: none;
    cursor: pointer;

    transition-property: box-shadow, background-color, color;
    transition-duration: 0.2s;
    will-change: box-shadow,transform;
}

.button:hover {
	background-color: rgba(158, 158, 158, 0.2);
}

.button:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.button:active {
	background-color: rgba(158, 158, 158, 0.4);
}

.icon-button {
	display: inline-block;
	width: 32px;
	height: 32px;

	outline: none;
	border: none;
	border-radius: 50%;

	background-color: transparent;

	font-size: 24px;
	line-height: 1px;
	color: rgba(0, 0, 0, 0.54);

	cursor: pointer;

	transition-property: background-color;
	transition-duration: 0.2s;
}

.icon-button:hover {
	background-color: rgba(158, 158, 158, 0.2);
}

.icon-button:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.icon-button:active {
	background-color: rgba(158, 158, 158, 0.4);
	color: #ff4081;
}

.checkbox {
	-webkit-appearance: none;
	appearance: none;

	display: inline-block;
	width: 16px;
	height: 16px;

	outline: none;
	border: 2px solid rgba(0, 0, 0, 0.54);
	border-radius: 2px;

	cursor: pointer;

	transition-property: background, border-color;
	transition-duration: 0.2s;
}

.checkbox:checked {
	border-color: #3f51b5;
	background: hsl(231, 48%, 48%) url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K');
	background-position: center;
	background-repeat: no-repeat;
}

.scrollbar::-webkit-scrollbar {
	width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 2px;

	background-color: transparent;

	transition-property: background-color;
	transition-duration: 0.2s;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.54);
}

.input {
	display: inline-block;
	margin-top: 4px;
	padding: 0 2px;
	width: 100%;
	height: 28px;

	outline: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);

	font-size: 16px;

	transition-property: border-color;
	transition-duration: 0.2s;
}

.input:hover {
	border-color: rgba(0, 0, 0, 0.4);
}

.input:focus {
	border-color: hsl(231, 48%, 48%);
}
